
.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url(./personaje1.png) ;
  background-repeat: no-repeat;
  background-size:270px;


}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 600px;
  width: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: solid ;
  text-transform: capitalize;
  background-image: radial-gradient(circle at 48.35% 43.84%, #d0f8ff 0, #92d8ff 25%, #3cb5f2 50%, #0092e5 75%, #0073d9 100%);
    box-shadow: 3px 3px 20px rgb(44, 43, 43);

}

.title {
  color: black;
  font-size: 18px;
  text-align: center;
}

button {
  border: none;
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  height: 10%;
  border-radius: 8;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  -ms-border-radius: 8;
  -o-border-radius: 8;


}

a {
  background-color: #000000;
  text-decoration: none;
  font-size: 22px;

}

button:hover,
a:hover {
  opacity: 0.7;
}
.name {
  height: 10%;
  background-color: #000000;
  text-align: center;
  color: #fff;

}
.img {
  height: 40%;
}
.espesificacion {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  place-items: center;
  height: 30%;
  
}
.hr {
  background-color: rgb(0, 0, 0);
}
.titles{
  font-size: 24px;
  color: #000;
}